@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.animate-fadeIn {
  @apply opacity-0;
  animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
  to { opacity: 1; }
}